.arrow {
    width: 18px;
    height: 18px;
    fill: $font-color-main;

    &--left {
        transform: rotate(180deg);
    }

    &--bottom {
        transform: rotate(90deg);

        &_center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &--right {
        &_center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
