/*Шрифты*/

$main-font: "Calibri", Trebuchet MS, sans-serif;

$font-color-main: #2f2f2f;
$font-color-blonde: #e2e2e2;
$font-color-silver: #acacac;
$font-color-red: #ff403d;
$font-color-green: #79cf5b;

$font-size-main: 16px;
$font-size-little: 12px;
$font-size-small: 14px;
$font-size-big: 18px;
$font-size-max: 26px;

/*Цвета*/
$silver-min: #fafafa;
$silver-normal: #f7f7f7;
$silver-large: #f0f0f0;
$silver-big: #e5e5e5;
$silver-error: #d8d8d8;

$color-vk: #2875a8;
$color-sber: #1a9f29;
$color-western: #f2d123;
$color-alipay: #009fe3;
$color-wechatpay: #00c800;
$color-alfabank: #ff2c1d;
$color-tinkoff: #ffe900;
$color-qiwi: #ff8b00;
$color-yad: #fcd603;

$u-white: #fff;
$u-pink: #f3ebff;
$u-alarm: #ffdbd7;
$u-yellow: #fff7d7;
$u-orange: #f9c800;
$popup-shadow: #777;

$o-black: rgba(0,0,0,.35);

/*Ширины*/
$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1200px;
