.content {
    width: 840px;
    padding-top: 50px;

    @media (max-width: 1240px) {
        margin: 0 auto;
        width: 768px;
        padding-top: 30px;
    }

    &__box {
        background-color: $u-white;
        padding-bottom: 30px;
    }

    &__title {
        margin-left: 42px;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 50px;

        @media (max-width: 1240px) {
            margin-bottom: 30px;
        }

        b {
            font-weight: 700;
        }

        &--icon {
            @include flex(nowrap, flex-start, center);

            img {
                margin-right: 24px;
                width: 47px;
                height: auto;
            }
        }
    }
}
